<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.mapper.UserMapper">
    <select id="getNameByNameAndPwd" parameterType="com.qst.entity.User" resultType="String">
        select name
        from user
        <where>
            name=#{name} and password=#{password}
        </where>
    </select>
</mapper>